.App {
  width: 100%;
}

input {
  width: 40%;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 30px;
}

input:hover {
  background-color: rgba(130, 230, 147, 0.75);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

button {
  width: 41%;
  height: 37px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 22px;
  margin-top: 10px;
}

button:hover {
  background-color: rgba(130, 230, 147, 0.75);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

h1 {
  margin: auto;
  color: rgba(87, 167, 100, 0.75);
  margin-top: 40px;
}

.List {
  width: 40%;
  font-size: 30px;
  margin: auto;
  display: block;
  color: rgba(130, 230, 147, 0.75);
}

.listItem {
  text-align: left;
}
